.analytic-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  width: 200px;
}

.analytic-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.analytic-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.analytic-value {
  font-size: 24px;
  color: #333;
}

.analytic-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
