
.home-content-container{
    display: flex;
    flex-direction: column;
}

/* Hero Section */
.hero {
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.hero-name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-title {
    font-size: 2rem;
    color: #555;
    margin-bottom: 1.5rem;
    margin-left: 1.2rem;
}
body.dark-mode .hero-title{
    color: #555;
}

.hero-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.3rem;    
    /* outline: solid 1px red; */
    width: 80%

}

.cta-button {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    width: 8rem;
    text-align: center;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Skills Section */
.skills {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 4rem;
    text-align: center;
}

.skills h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;    
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill .skill-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
}

.skill .skill-title {
    font-size: 1rem;
    color: #333;
}

body.dark-mode .skill .skill-title {
    font-size: 1rem;
    color: #555;
}

/* Projects Preview Section */
.projects-preview {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 4rem;
    text-align: center;
}

.projects-preview h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.projects-preview h3 img{
    margin-left: 2rem;
    width: 60px;
    height: 60px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 95%;
    margin: 0 auto;
}

.project-card {
    background-color: #ffffff;
    z-index: 0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body.dark-mode .project-card{
    background-color: #000000;
    box-shadow: 1px 5px 15px rgba(255, 255, 255, 0.4);
}
.project-card h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}

/* Contact Section */
.contact {
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.contact h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.contact-icon{
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;

}
.contact p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.75rem;
}

.contact a {
    color: #007bff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .hero-content {
        align-items: center;
        text-align: center;
    }
}
