body{
    min-width: 28rem;
    max-width: 60rem;
    margin: 1rem auto;
    
    transition: all 300ms ease;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(.05turn, rgba(0, 0, 0, 0.9), 30%, rgba(50, 79, 175, 0.792));
    border-radius: 0.725rem;
    padding: 0.725rem;
    position: sticky;
    z-index: 10;
    transition: all 200ms ease;
}

.left-container{
    display: flex;
    align-items: center;
}

.img-container{
    display: flex;
    align-items: center;
}
.img-container img{
    width: 2.4rem;
}

.right-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 3px;
    gap: 1rem;
}
.link-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.25rem;
}
.link-container a {
    text-decoration: none;
    color: lightgray;
    font-size: 0.825rem;
    font-weight: normal;
    position: relative;
    transition: all 100ms ease-in-out;
}
.link-container a::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transition: transform 100ms ease-in-out;
}
/* Hovered element of non-active page link */
.link-container a:hover{
    color: white;
}
/* Anchor element of active page link */
.link-container a.active {
    font-weight: bold;
    color: white;
}
/* Bar after active page link */
.link-container a.active::after {
    color: white;
    transform: scaleX(1);
}

.button-container{
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    gap: 1rem;; 
}
.button-container button{
    display: flex;
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 3px;
}
.button-container button img{
    width: 1rem;
    transition: all 100ms ease-in-out;
    filter:invert(20%);
}
.button-container button img:hover{
    transform: scale(1.1);
    background-color: rgba(89, 89, 89, 0.792);
    border-radius: 0.2rem;
    padding: 0.1rem;
    filter:none;
}

body {
    background-color: #ffffff;
    color: #333;
  }

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .navbar-container {
    background: linear-gradient(.05turn, rgba(50, 79, 175, 0.9), 30%, rgba(0, 0, 0, 0.792));
}
  
body.dark-mode a {
    color: #aaa;
}
  
body.dark-mode a.active {
    color: #fff;
}
    