.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(55deg, rgba(50, 79, 175, 0.242), 30%, rgb(1, 27, 128));
    border-radius: 0.725rem;
    padding: 0.725rem;
    min-width: 28rem;
    max-width: 50rem;
    margin: 1rem auto;
    position: sticky;
    z-index: 10;
}

.left-container{
    display: flex;
    align-items: center;
}

.img-container{
    display: flex;
    align-items: center;
}
.img-container img{
    width: 2.4rem;
}

.right-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 3px;
    gap: 1rem;
}
.link-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.25rem;
}
.link-container a {
    text-decoration: none;
    color: lightgray;
    font-size: 0.825rem;
    font-weight: normal;
    position: relative;
    transition: all 200ms ease-in-out;
}
  
.link-container a::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.link-container a:hover::after {
    transform: scaleX(1);
}

.link-container a.active {
    font-weight: bold;
    color: white;
}

.link-container a.active::after {
    color: white;
    transform: scaleX(1);
}

.button-container{
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    gap: 1rem;; 
}
.button-container button{
    display: flex;
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 3px;
}
.button-container button img{
    width: 1rem;
    transition: all 200ms ease-in-out;
    filter:invert(20%);
}
.button-container button img:hover{
    transform: scale(1.1);
    filter:none;
}