@import url('../../themes.scss');

.navbar-container {
    transition: all var(--transition-speed) ease;
    -webkit-backdrop-filter: var(--navbar-blur); 
    backdrop-filter: var(--navbar-blur) saturate(100%);
    background: var(--light-navbar-bg);
    border-radius: var(--nav-radius);
    justify-content: space-between;
    align-items: center;
    padding: 0.725rem;
    position: sticky;
    display: flex;
    z-index: 100;
    top: 1rem;
    width: 80%;
    margin: 0 auto;
}
body.dark-mode .navbar-container {
    background: var(--dark-navbar-bg);
}

.left-container,
.navbar-img-container {
    display: flex;
    align-items: center;
}

.navbar-img-container img {
    width: 3rem;
    filter: invert(100%);
}
body.dark-mode .navbar-img-container img {
    filter: invert(0%);
}

.right-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-link-container {
    gap: var(--link-gap);
    padding-bottom: 2px;
    align-items: center;
    display: flex;
}

.navbar-link-container .link {
    transition: all var(--transition-speed) ease-in-out;
    font-size: var(--font-size);
    color: var(--link-color);
    text-decoration: none;
    position: relative;
}
body.dark-mode .link {
    color: var(--dark-link-color);
}

.navbar-link-container a::after {
    transition: transform var(--transition-speed) ease-in-out;
    background: var(--link-hover);
    transform: scaleX(0);
    position: absolute;
    content: '';
    top: 1.5rem;
    height: 1px;
    right: 0;
    left: 0;
}
body.dark-mode .navbar-link-container a::after{
    background: var(--dark-link-hover);
}

.navbar-link-container a:hover {
    color: var(--link-hover);
}
body.dark-mode .navbar-link-container a:hover {
    color: var(--dark-link-hover);
}

.navbar-link-container a.active {
    color: var(--link-hover);
    font-weight: bold;
}
body.dark-mode a.active{
    color: var(--dark-link-hover);
}


.navbar-link-container a.active::after {
    transform: scaleX(1);
}

.button-container {
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

.button-container button {
    background: none;
    cursor: pointer;
    border: none;
}

.button-container button img {
    transition: all var(--transition-speed) ease;
    width: var(--button-icon-size);
    filter: var(--icon-filter);
}
body.dark-mode .button-container button img {
    filter: var(--dark-icon-filter);
}

.button-container button img:hover {
    -webkit-backdrop-filter: var(--navbar-blur); 
    background-color: var(--button-hover-bg);
    backdrop-filter: var(--navbar-blur);
    filter: var(--icon-filter);
    transform: scale(1.1);
    border-radius: 0.2rem;
    padding: 0.1rem;
}

.dropdown {
    -webkit-backdrop-filter: var(--navbar-blur);
    backdrop-filter: var(--navbar-blur);
    border-radius: var(--dropdown-radius);
    background-color: var(--dropdown-bg);
    flex-direction: column;
    position: absolute;
    display: none;
    padding: 1rem;
    top: 3.5rem;
    right: 1rem;
    gap: 1rem;
    z-index: 9;
    color: var(--link-color);
}
body.dark-mode .dropdown {
    background-color: var(--dark-dropdown-bg);
    color: var(--dark-link-color);
}
.dropdown.open {
    display: flex;
}

.button-container button.hamburger {
    cursor: pointer;
    display: none;
}
.right-container .dropdown.open > a{
    color: var(--link-color);
    text-decoration: none;

}
body.dark-mode .right-container .dropdown.open > a{
    color: var(--dark-link-color);
}

.right-container .dropdown.open > a:hover{
    color: black;
}
body.dark-mode .right-container .dropdown.open > a:hover{
    color: white;
}

@media (max-width: 600px) {
    .navbar-link-container {
        display: none;
    }

    .button-container button.hamburger {
        display: flex;
    }
}
