@import url(../../themes.scss);

.dashboard-content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .dashboard-content-container{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
@media (max-width: 460px) {
    .dashboard-content-container{
        grid-template-columns: 1fr;
        gap: 1rem;        
    }
}
