/* Light Mode */
.footer-container {
    backdrop-filter: var(--navbar-blur);
    -webkit-backdrop-filter: var(--navbar-blur);
    border-radius: var(--nav-radius);
    background: var(--light-footer-bg);
    color: var(--light-text);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
    transition: all var(--transition-speed) ease;
}

/* Dark Mode */
body.dark-mode .footer-container {
    backdrop-filter: var(--navbar-blur);
    -webkit-backdrop-filter: var(--navbar-blur);
    border-radius: var(--nav-radius);
    background: var(--dark-footer-bg);
    color: var(--dark-text);
}

/* Links Container */
.footer-link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20rem;
    margin-top: 1rem;
}

.link-container-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

/* Footer Links */
.footer-link {
    color: var(--link-color);
    text-decoration: none;
    margin-bottom: 2rem;
    transition: color var(--transition-speed) ease-in-out;
}

.footer-link:hover {
    color: var(--link-hover);
}

body.dark-mode .footer-link {
    color: var(--dark-link-color);
}

body.dark-mode .footer-link:hover {
    color: var(--dark-link-hover);
}

.misc-container {
    margin-top: 5rem;
}
