@import url(../../themes.scss);

.footer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    /* outline: solid 1px red; */
}

/* Background Image */
.footer-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    object-fit: scale-down;
}

.footer-content-container {
    /* outline: solid 1px red; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: var(--footer-radius);
    background: var(--light-footer-bg);
    backdrop-filter: var(--footer-blur);
    color: var(--light-text);
    transition: all var(--transition-speed) ease;
    position: relative;
    z-index: 1;
    margin-left: 5rem;
    margin-right: 5rem;
}

body.dark-mode .footer-content-container {
    background: var(--dark-footer-bg);
    color: var(--dark-text);
}

.footer-link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 12rem;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .footer-link-container {
        gap: 5rem;
    }
}

.link-container-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.footer-link {
    color: var(--link-color);
    text-decoration: none;
    margin-bottom: 2rem;
    transition: color var(--transition-speed) ease-in-out;
}

.footer-link:hover {
    color: var(--link-hover);
}

body.dark-mode .footer-link {
    color: var(--dark-link-color);
}

body.dark-mode .footer-link:hover {
    color: var(--dark-link-hover);
}

.misc-container {
    margin-top: 2rem;
}
