@import url(../../themes.scss);

.footer-container{
    position: relative;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.footer-container img {
    position: absolute;
    
    width: 100%;
    
    bottom: 1.1rem;
    left: 0;
    object-fit: scale-down;
}
.footer-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    
    width: auto;
    
    background-color: rgba(255,255,255,0.667);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    
    padding-top: 3rem;
    margin-top: 2rem;

    padding-left: 3rem;
    margin-left: 3rem;

    padding-right: 3rem;
    margin-right: 3rem;

    padding-bottom: 3rem;
    margin-bottom: 2rem;
}
.footer-link-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.link-container-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link{
    text-decoration: none;
    color: gray;
}
.footer-link:hover{
    color: black;
}
.copyright-container{
    color: gray;
}

/* Dark mode */

body.dark-mode .footer-container{
    
}
body.dark-mode .footer-container img {
}
body.dark-mode .footer-content-container{
    background-color: rgba(0,0,0,0.667);
}
body.dark-mode .footer-link-container{
}
body.dark-mode .link-container-column{
}
body.dark-mode .footer-link{
    color: rgb(182, 181, 181);
}
body.dark-mode .footer-link:hover{
    color: rgb(255, 255, 255);
}
body.dark-mode .copyright-container{
    color: rgb(182, 181, 181);
}