@import url('./themes.scss');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif, Arial;
  min-width: 28rem;
  max-width: 60rem;
  margin: 1rem auto;
  color: var(--light-text);
  background-color: var(--light-bg);
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
} 
body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
