@import url('./themes.scss');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif, Arial;
  min-width: 28rem;
  max-width: 60rem;
  margin: 1rem auto;
  margin-top: 0;
  color: var(--light-text);
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
} 

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.gradient-top img, .gradient-bottom img {
  object-fit: cover; 
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.gradient-top, .gradient-bottom {
  position: fixed;
  margin: auto;
  height: 200px;
  z-index: -99;
}

.gradient-top {
  top: 0;
}

.gradient-bottom {
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
