:root {
    /* Light mode colors */
    --light-bg: #ffffff;
    --light-text: #000000;
    --light-navbar-bg: rgba(255, 255, 255, 0.644);
    --light-footer-bg: rgba(255, 255, 255, 0);
    --link-hover: rgb(0, 0, 0);
    --link-color: rgb(122, 122, 122);
    --icon-filter: invert(70%);
    --button-hover-bg: rgb(0, 0, 0);

    /* Dark mode colors */
    --dark-bg: rgba(0, 0, 0, 1);
    --dark-text: #ece4e4;
    --dark-navbar-bg: rgba(0, 0, 0, 0.644);
    --dark-footer-bg: rgba(0, 0, 0, 0.644);
    --dark-link-color: #b4b4b4;
    --dark-link-hover: #ffffff;
    --dark-icon-filter: invert(20%);
    --dark-button-hover-bg: rg

    /* Common */
    --navbar-blur: blur(10px);
    --transition-speed: 200ms;
    --nav-radius: 0.725rem;
    --font-size: 0.825rem;
    --link-gap: 1.2rem;
    --button-icon-size: 1rem;
    --dropdown-bg: rgba(255, 255, 255, 0.644);
    --dropdown-radius: 0.5rem;
}
